<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title> Lab load status</title>
    </head>
    <div>
    <body>
        <div class="divstatus">
        <H2> Status</H2>
        <div class="progress" style="height:5px">
            <div class="progress-bar progress-bar-custom" role="progressbar" style="width: {{progbar}}%" aria-valuenow="{{progbar}}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <hr>
        {% for k,v in content.items() %}
        <p style="font-size:larger;font-weight:bold">{{ k }}</p>
        {% for x in v %}
        {{ x }}
        <br>
        {% endfor %}
        <hr>
        {% endfor %}
        </div>

    
    </body>
    </div>
</html>
